@import "../../assets/stylesheets/variables.css";

@value unit from '../../assets/stylesheets/global.css';

@value height: calc(unit * 3);

@value button-shadow: inset 0 0 0 1px;

.light {
  color: var(--ring-text-color);
  background-color: var(--ring-content-background-color);
  box-shadow: button-shadow var(--ring-borders-color);

  &:hover {
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:active,
  &.active {
    background-color: var(--ring-selected-background-color);
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:active,
  &.active {
    background-color: var(--ring-selected-background-color);
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:focus {
    box-shadow: button-shadow var(--ring-border-hover-color), 0 0 0 1px var(--ring-border-hover-color);
  }

  &[disabled] {
    box-shadow: button-shadow var(--ring-border-disabled-color);
    color: var(--ring-disabled-color);
  }
}

.dot {
  border-radius: 19px !important;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 1px solid #bdc3c7;
  color: #bdc3c7;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  margin: 0 10px;
  border: 1px solid #bdc3c7;
  margin: 0 10px;
  background-color: transparent;

  &:hover,
  &:active,
  &.active {
    color: #000;
    border-color: #000;
  }
}

.default {
  composes: default from '../button-group/button-group.module.css';
  width: auto;
  height: height;
  padding: 0 calc(unit * 2);
  font-size: var(--ring-font-size-smaller);
  border-radius: var(--ring-border-radius);
  line-height: height;
  border: 0;
  margin: 0;

  &:hover,
  &:focus {
    transition: none;
  }
}

.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  transition: color var(--ring-ease), background-color var(--ring-ease), box-shadow var(--ring-ease);
  text-decoration: none;
  outline: 0;
  font-family: var(--ring-font-family);
}