@import "../../assets/stylesheets/variables.css";

@value unit from '../../assets/stylesheets/global.css';

@value height: calc(unit * 3);

@value button-shadow: inset 0 0 0 1px;

.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  transition: color var(--ring-ease), background-color var(--ring-ease), box-shadow var(--ring-ease);
  text-decoration: none;
  outline: 0;
  font-family: var(--ring-font-family);

  & .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Button下拉列表 */
.dropdown {
  width: 140px;
  height: 42px;
  border: 1px solid var(--ring-btn-dropdown-border-color);
  padding-right: 12px;
  padding-left: 20px;
  color: var(--ring-btn-dropdown-color);
  background-color: transparent;
  text-align: left;
  font-weight: bold;
  transition: background-color var(--ring-ease);

  & .content {
    justify-content: start;
  }

  &:hover {
    background-color: #fff;
  }
}

/* Login组件的登录按钮 */
.submit {
  width: 100%;
  height: 50px;
  margin: 0;
  border: 0;
  font-size: 18px;
  color: var(--ring-submit-font-color);
  background-color: var(--ring-submit-background-color);
  border-radius: 5px;
}

/* pager组件 */
.dot {
  width: 38px;
  height: 38px;
  margin: 0 10px;
  border: 1px solid #bdc3c7;
  padding: 0;
  font-size: 20px;
  color: #bdc3c7;
  background-color: transparent;
  border-radius: 19px !important;
  text-align: center;
  line-height: 36px;

  &:hover,
  &:active,
  &.active {
    color: #000;
    border-color: #000;
  }
}

.square {
  width: 40px;
  border-radius: var(--ring-border-radius);
  background-color: #e7ebee;
  height: 40px;
  font-size: 14px;
  border: 0;
  margin-right: 10px;

  &:hover,
  &:active,
  &.active {
    background-color: var(--ring-main-color);
    color: #fff;
  }
}

/* 默认样式 */
.light {
  composes: light from '../button-group/button-group.module.css';
  width: auto;
  height: height;
  margin: 0;
  border: 0;
  padding: 0 calc(unit * 2);
  font-size: var(--ring-font-size-smaller);
  color: var(--ring-text-color);
  background-color: var(--ring-content-background-color);
  border-radius: var(--ring-border-radius);
  line-height: height;
  box-shadow: button-shadow var(--ring-borders-color);

  &:hover {
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:active,
  &.active {
    background-color: var(--ring-selected-background-color);
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:active,
  &.active {
    background-color: var(--ring-selected-background-color);
    box-shadow: button-shadow var(--ring-border-hover-color);
  }

  &:focus {
    box-shadow: button-shadow var(--ring-border-hover-color), 0 0 0 1px var(--ring-border-hover-color);
  }

  &[disabled] {
    color: var(--ring-disabled-color);
    box-shadow: button-shadow var(--ring-border-disabled-color);
  }
}


