.ellipsis {
  composes: ellipsis from '../../assets/stylesheets/global.css';
  font-weight: bold;
  vertical-align: middle;
}

.icons {
  display: flex;
  align-items: center;
}

.icon-mr3 {
  margin-right: 3px;
}