.notes__head {
  height: 40px;
  margin-top: 17px;

  .tab-wrapper {
    float: left;
  }

  .bulletin {
    float: right;
  }
}

.bulletin {
  position: relative;
  height: 40px;
  padding: 0 110px 0 20px;
  background-color: #fff7e7;
  border-radius: 20px;
  line-height: 40px;
  cursor: default;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);

  li {
    &.open {
      dfn {
        display: block;
      }

      i {
        background-color: #da833b;
      }
    }

    dfn {
      display: none;
      padding-right: 5px;
      font-size: 14px;
      color: #6b3612;
    }

    i {
      position: absolute;
      top: 7px;
      width: 28px;
      height: 28px;
      color: #fff7e7;
      background-color: #e9e1d2;
      text-align: center;
      line-height: 28px;
      font-family: 'duandian';
      border-radius: 50%;
    }

    .icon-star {
      right: 7px;
      font-size: 16px;
    }

    .icon-heart {
      right: 41px;
      font-size: 18px;
    }

    .icon-warn {
      right: 75px;
      font-size: 20px;
    }
  }
}

.notes-list {
  margin: 20px -10px 0;
}

.notes-item {
  position: relative;
  width: 280px;
  margin: 0 10px 15px;
  float: left;
  border-radius: 5px;
  transition: transform .3s;

  &:hover {
    transform: translateY(-5px);

    .shade {
      visibility: visible;
      transition: opacity .3s;
      opacity: 1;
    }

    .img img {
      transform: scale(1.1);
    }
  }

  .shade {
    z-index: 1;
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: 0;
    left: -5px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  .img {
    z-index: 2;
    position: relative;
    display: block;
    width: 280px;
    height: 195px;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: inherit;
      height: inherit;
      transition: transform .3s;
    }
  }

  .info {
    padding: 0 5px 20px;
  }

  .title {
    z-index: 2;
    position: relative;
    margin-top: 5px;
    font-size: 14px;
    line-height: 22px;
  }

  .msg {
    z-index: 2;
    position: relative;
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    color: #9aabb8;
    white-space: normal;

    span {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    i {
      font-family: 'duandian';
      font-size: 18px;
      margin-right: 3px;

      &.icon-eye {
        margin-right: 5px;
      }
    }
  }

  .auther {
    z-index: 2;
    position: relative;
    margin-top: 7px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    display: flex;

    .adimg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 50%;
      float: left;
    }

    span {
      display: table-cell;
    }
  }
}

.notes-pagination {
  margin: 5px 0 20px;
}

.pagination-wrapper {
  text-align: center;

  li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;

    a {
      width: 38px;
      height: 38px;
      border: 1px solid #bdc3c7;
      color: #bdc3c7;
      text-align: center;
      line-height: 38px;
      font-size: 20px;
      display: inline-block;
      border-radius: 50%;
      transition: all .5s;

      &:hover,
      &.on {
        color: #000;
        border-color: #000;
      }
    }

    &:last-of-type {
      a {
        line-height: 24px;
      }
    }
  }
}