@import '../../assets/stylesheets/variables.css';

.notes-wrapper {
  composes: w1180 from '../../assets/stylesheets/global.css';
}

.notes__head {
  height: 45px;
  margin-top: 17px;

  & .tab-wrapper {
    float: left;
  }

  & .bulletin {
    float: right;
  }
}

.bulletin {
  position: relative;
  height: 40px;
  padding: 0 110px 0 20px;
  background-color: #fff7e7;
  border-radius: 20px;
  line-height: 40px;
  cursor: default;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);

  & li {
    &.open {
      & dfn {
        display: block;
      }

      & i {
        background-color: #da833b;
      }
    }

    & dfn {
      display: none;
      padding-right: 5px;
      font-size: 14px;
      color: #6b3612;
    }

    & i {
      position: absolute;
      top: 7px;
      width: 28px;
      height: 28px;
      color: #fff7e7;
      background-color: #e9e1d2;
      text-align: center;
      line-height: 28px;
      font-family: 'duandian';
      border-radius: 50%;
    }

    & .icon-star {
      right: 7px;
      font-size: 16px;
    }

    & .icon-heart {
      right: 41px;
      font-size: 18px;
    }

    & .icon-warn {
      right: 75px;
      font-size: 20px;
    }
  }
}

.notes-pagination {
  margin: 5px 0 20px;
}

.pagination-wrapper {
  text-align: center;
}