.tab {
  span {
    margin-right: 25px;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 20px;
    float: left;
    color: #7c7c7c;
    cursor: pointer;

    &:hover {
      color: #3498db;
    }

    &.on {
      border: 1px solid #3498db;
      color: #3498db;
      font-weight: bold;
    }
  }
}