@import '../../assets/stylesheets/variables.css';

.tab {
  composes: clearfix from '../../assets/stylesheets/global.css';
  span {
    margin-right: 25px;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 20px;
    float: left;
    color: var(--ring-title-color);
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s;
    user-select: none;

    &:hover {
      color: #3498db;
    }

    &.on {
      border-color: #3498db;
      color: #3498db;
      font-weight: bold;
    }
  }
}