.footer-wrapper {
  padding: 20px 0;
  background-color: var(--ring-footer-background-color);
}

.footer {
  composes: w1180 clearfix from '../../assets/stylesheets/global.css';
  line-height: 42px;

  & .logo {
    margin-left: 20px;
    font-size: 42px;
    color: var(--ring-logo-color);
    font-family: "duandian";
    float: left;
  }

  & .copy {
    display: table-cell;
    width: 9999px;
    text-align: center;
  }
}