@value unit from '../../assets/stylesheets/global.css';

.buttonToolbar {
  display: inline-block;
  font-size: 0;
  white-space: nowrap;

  & > .buttonGroup {
    margin-right: unit;
  }

  & > :last-child {
    margin-right: 0;
  }
}
