@value unit: 8px;

/** 闭合浮动
* @Author: 一丝 
* @Doc: http://nicolasgallagher.com/micro-clearfix-hack/
*/

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* IE6-7 触发 hasLayout */
}

/*
 *@ Name:       自适应图文混排组件
 *@ Author:     一丝
 *@ Update:     2013-9-29 19:23:27
 *@ Usage:      line 用于不需要溢出显示的模块
 */

.clearall {
  overflow: hidden;
  _overflow: visible;
  *zoom: 1;
}

.clearcell {
  display: table-cell;
  *zoom: 1;
}

.clearcell:after {
  display: block;
  height: 0 !important;
  font-size: xx-large;
  clear: both;
  visibility: visible;
  overflow: hidden;
  line-height: 0;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

/* 强制不换行 */
.nowrap {
  white-space: nowrap;
  word-wrap: normal;
}

/* 连续字符换行 */
.wrap {
  white-space: normal;
  word-wrap: break-word;
}

.hidden,
.hide {
  display: none;
}

/* 文字溢出显示省略号 */
.ellipsis {
  display: inline-block;
  *display: inline;
  _width: 100%;
  max-width: 100%;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis; /* Opera 9-10.6 */
  text-overflow: ellipsis;
  *zoom: 1;
  vertical-align: top;
}

/* 图片替换
   ========================================================================== */

/** 隐藏文字
* 1.text-indent:-999em 存在性能问题：
*   http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
*/
.text-hide {
  text-indent: 100%; /* 1 */
  white-space: nowrap;
  overflow: hidden;
}

/** 裁剪方式隐藏元素 
* 1. IE6-8 有严重漏洞，请勿使用 https://www.hkcert.org/my_url/zh/101104_ms_ie_css_tagparsing_vuln
* 2. VoiceOver 无法读出宽高为 0 的元素
*/
.clip-hide {
  position: absolute !important; /*clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  width: 1px !important;
  height: 1px !important; /* 2 */
  border: 0 none !important;
  padding: 0 !important;
  clip: rect(1px, 1px, 1px, 1px); /* 1 */
  overflow: hidden;
}

/* 定位方式隐藏内容 */
.ir {
  z-index: -1;
  position: relative;
  overflow: hidden;
}

.ir-bg {
  z-index: 1;
  position: relative;
}

/** 禁用中文输入法
* @require: 在需要禁用的地方添加: .ime-disabled
*/
.ime-disabled {
  ime-mode: disabled !important;
}

.ime-inactive {
  ime-mode: inactive !important;
}

/**
* 布局相关
*/

.w1180 {
  width: 1180px;
  margin: 0 auto;
}

.mr3 { margin-right: 3px; }

/**
* 字体相关
*/
.font {
  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  line-height: var(--ring-line-height);
}
