:root {

  /* Element */
  --ring-title-color: #717171;
  --ring-borders-color: #b8d1e5;
  --ring-border-hover-color: #80c6ff;
  --ring-border-disabled-color: #dbdbdb;
  --ring-login-box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  --ring-menu-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  --ring-login-border-radius: 24px;
  --ring-login-logo: #4880f7;
  --ring-main-color: #008eff;
  --ring-icon-error-color: #db5860;
  --ring-btn-dropdown-border-color: #d7dcde;
  --ring-btn-dropdown-color: #34495e;
  --ring-btn-dropdown-icon-color: #1abc9c;
  --ring-popup-border-components: 0, 42, 76;
  --ring-popup-border-color: rgba(var(--ring-popup-border-components), 0.1);
  --ring-popup-shadow-color: rgba(var(--ring-popup-border-components), 0.15);

  /* Text */
  --ring-text-color: #1f2326;
  --ring-disabled-color: #999;
  --ring-a-hover-color: #3498db;
  --ring-header-icon-color: #dee2e5;
  --ring-times-color: #bdbdbd;
  --ring-logo-color: #4e98d6;
  --ring-secondary-color: #737577;
  --ring-error-color: #c22731;
  --ring-placeholder-color: #cacaca;
  --ring-submit-font-color: #a0a0a0;
  --ring-forget-color: #8d8d8d;

  /* Background */
  --ring-content-background-color: #fff;
  --ring-selected-background-color: #d4edff;
  --ring-body-background-color: #f0f3f5;
  --ring-practise-background-color: #eaeef2;
  --ring-footer-background-color: #e6eaed;
  --rint-totop-background-color: #dbe0e6;
  --ring-submit-background-color: #e5e5e5;


  /* Metrics */
  --ring-border-radius: 3px;
  --ring-ease: 0.3s ease-out;
  --ring-fast-ease: 0.15s ease-out;
  --ring-font-size-smaller: 12px;
  --ring-img-scale: scale(1.1);
  --ring-font-size: 13px;
  --ring-line-height: 20px;
  --ring-line-height-lower: 18px;

  /* font */
  --ring-font-family: 'Microsoft YaHei', 'helvetica neue', 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;

  /* 应该覆盖页面上所有其他元素的元素 */
  --ring-overlay-z-index: 5;
}