:root {

  /* Element */
  --ring-title-color: #717171;
  --ring-borders-color: #b8d1e5;
  --ring-border-hover-color: #80c6ff;
  --ring-border-disabled-color: #dbdbdb;

  /* Text */
  --ring-text-color: #1f2326;
  --ring-disabled-color: #999;  
  --ring-a-hover-color: #3498db;
  --ring-header-icon-color: #dee2e5;
  --ring-times-color: #bdbdbd;
  --ring-logo-color: #4e98d6;
  
  /* Background */
  --ring-content-background-color: #fff;
  --ring-selected-background-color: #d4edff;
  --ring-body-background-color: #f0f3f5;
  --ring-practise-background-color: #eaeef2;

  /* Metrics */
  --ring-border-radius: 3px;
  --ring-ease: 0.3s ease-out;
  --ring-font-size-smaller: 2px;
  --ring-img-scale: scale(1.1);

  /* TODO: return raw value back if this issue fixed https://github.com/JLHwung/postcss-font-family-system-ui/issues/65 */
  --ring-font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
}