.banner {
  composes: w1180 from '../../assets/stylesheets/global.css';
  
  position: relative;
  margin-top: 20px;
  height: 280px;

  &:hover {
    .banner-pagination {
      opacity: 1;
    }
  }

  & .prev,
  & .next {
    font-family: 'duandian';
    position: absolute;
    right: -60px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 70px;
    user-select: none;
    color: #bbb;
    opacity: 0;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
    }
  }

  & .prev {
    left: -60px;
    right: auto;
  }
}

.banner-list {
  width: 1180px;
  height: 280px;

  & em {
    position: absolute;
    background-size: 1180px 280px;
    opacity: 0;
    height: 280px;
    transition: none;

    &:first-of-type {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-of-type {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &.animate {
      opacity: 1;
      transition-property: opacity;
      transition-duration: 1s;
    }
  }
}

.banner-item {
  position: absolute;
  width: 1180px;
  height: 280px;
  background-size: 1180px 280px;
  border-radius: 8px;
}

.banner-pagination {
  z-index: 5;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  padding: 4px 16px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 15px;
  opacity: 0;
  transition: opacity .5s;

  & .bullet {
    padding: 5px;
    float: left;
    cursor: pointer;

    &::before {
      content: '';
      background-color: rgba(255, 255, 255, .5);
      width: 12px;
      height: 12px;
      border-radius: 6px;
      display: block;
      transition: width 1s;
    }

    &.on::before {
      width: 30px;
    }
  }
}